* {
    font-family: Helvetica;
    color: white;

}

body {
    background: rgba(0, 0, 0, 0.6) url(img/persona.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
}

.cabecera {
    background-color: transparent;
    padding: 3px;
    color: white;
    margin: -8px;
}

.cabecera h1 {
    text-align: center;
    margin-top: 22px;
    font-size: 2.5rem;
    animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;
    text-shadow: 3px 2px 2px teal, 0px -1px 3px rgba(12, 143, 251, 0.75), -3px 0px 2px rgba(12, 143, 251, 0.75);
}

.cabecera h1::after {
    font-size: 1.75rem;
    content: " - Entregas";
}

#info {
    margin-top: 50px;
    text-align: center;
}

#menu {
    padding: 7px;
    margin-bottom: 30px;
    margin-top: 65px;
    text-align: center;
}

#menu #t1:hover ::after {
    content: " - HTML y GitHub";
}

#menu #t2:hover ::after {
    content: " - Selectores Css";
}

#menu #t3:hover ::after {
    content: " - Media Queries";
}

#menu #t4:hover ::after {
    content: " - Proximamente...";
}

#menu a {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 2px 5px 0;
    border-bottom: 1px;
    background-color: transparent;
    display: inline-block;
    width: 400px;
    line-height: 2.5;
    box-shadow: -1px -1px 8px 2px teal;
}

#menu a:hover {
    color: white;
    box-shadow: -1px -1px 8px 2px turquoise;
    background-color: rgba(19, 15, 15, 0.61);
    text-shadow: 3px 2px 2px turquoise, 0px -1px 3px rgba(12, 143, 251, 0.75), -3px 0px 2px rgba(12, 143, 251, 0.75);
    width: 415px;
    line-height: 3.0;
    border-radius: 5px 5px 5px 5px;
}

#menu a {
    cursor: pointer;
    animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;
    text-decoration: none;
}

#menu h2:hover a::before {
    font-size: 1.25rem;
    content: ">> ";
}

.pie {
    background-color: transparent;
    padding: 2px;
    margin: -8px;
    margin-top: 100px;
    color: white;
    text-align: center;
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}

@keyframes chromaticMove {
    0% {
        text-shadow: 3px 2px 2px turquoise, 0px -1px 3px rgba(12, 79, 251, 0.75), 0px 0px -2px rgba(12, 143, 251, 0.75);
    }

    50% {
        text-shadow: 3px 2px 2px turquoise, 0px -1px 3px rgba(12, 79, 251, 0.75), -3px 2px 3px rgba(12, 143, 251, 0.75);
    }
}